# Lenovo Legion — allow userspace access to ec_sys and keyboard HID
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c193", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c197", MODE="0660", TAG+="uaccess"
